#blackbox {
  background-color: #5cffa0;
}

#blackbox:hover {
  background-color: #12bd59;
}

#black-box {
  background-color: #5cffa0;
}

#black-box:hover {
  background-color: #12bd59;
}
