#blackbox {
  background-color: #2ecc71;
}

#blackbox:hover {
  background-color: #2ecc71;
}

#btn-contact {
  background-color: #00a043;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  color: white;
}

#btn-contact:hover {
  background-color: #03883a;
}

#btn-buy {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #1dd66a;
}

#btn-buy:hover {
  background-color: #1be770;
}

#new {
  display: flex;
  padding: 8px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #55efc4;
  margin-top: 3.5rem;
  border-radius: 1.5rem;
  width: 600px;
  height: 250px;
}

#dis-none {
  height: 42px;
  grid-column-gap: 24px;
  align-items: center;
  display: flex;
}
@media (min-width: 320px) {
  #dis-none {
    width: 320px;
  }
}

@media (min-width: 481px) {
  #dis-none {
    width: 481px;
  }
}

@media (min-width: 769px) {
  #dis-none {
    width: 769px;
  }
}
@media (min-width: 1025px) {
  #dis-none {
    width: 1025px;
  }
}

@media (min-width: 1201px) {
  #dis-none {
    width: 1201px;
  }
}

@media (min-width: 320px) {
  #DIS-none {
    width: 320px;
  }
}

@media (min-width: 481px) {
  #DIS-none {
    width: 481px;
  }
}

@media (min-width: 769px) {
  #DIS-none {
    width: 769px;
  }
}
@media (min-width: 1025px) {
  #DIS-none {
    width: 1025px;
  }
}

@media (min-width: 1201px) {
  #DIS-none {
    width: 1201px;
  }
}

@media (min-width: 483px) {
  #div-none {
    display: none;
  }
}

@media (min-width: 640px) {
  #div-none {
    display: none;
  }
}

@media (min-width: 768px) {
  #div-none {
    display: none;
  }
}

@media (min-width: 1024px) {
  #div-none {
    display: block;
  }
}

@media (min-width: 200px) {
  #background {
    background-color: #55efc4;
  }
}

@media (min-width: 640px) {
  #background {
    background-color: #55efc4;
  }
}

@media (min-width: 768px) {
  #background {
    background-color: #55efc4;
  }
}

@media (min-width: 1024px) {
  #background {
    background-color: #55efc4;
  }
}

@media (min-width: 200px) {
  #new {
    display: flex;
    padding: 8px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #55efc4;
    margin-top: 3.5rem;
    border-radius: 1.5rem;
    width: 600px;
    height: 250px;
  }
}

/* Animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

/*  Styling  */
#logos-home-page .slider {
  height: auto;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slide img {
  padding: 20px;
  border-radius: 6px;
  width: 260px;
  height: 73px;
  border: 1px solid black;
  margin-right: -3px;
}

#logos-home-page .slider:before,
#logos-home-page .slider:after {
  background: linear-gradient(
    to right,

    #2ecc71 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

#logos-home-page .slider:after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

#logos-home-page .slider:before {
  left: 0;
  top: 0;
}
#logos-home-page .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

#logos-home-page div.slide {
  padding: 0 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
